[', EBA, together with ESMA' ':'
 'All persons or establishments using human tissues and cells regulated by this Directive'
 'An AIFM' 'An institution'
 'An institution that is not exempted from the reporting requirements set out in Article\xa0430b in accordance with Article\xa0325a'
 'Article\xa0394Reporting requirements1.Institutions'
 'Article\xa0430aSpecific reporting obligations1.Institutions' 'CEIOPS'
 'Competent authorities' 'Counterparties to SFTs' 'EBA'
 'EBA shall submit those draft implementing technical standards to the Commission by\xa002019R0876-20200627_date57:.Power is conferred on the Commission to adopt the implementing technical standards referred to in the first subparagraph in accordance with 02019R0876-20200627_ref353: of 02019R0876-20200627_ref354:Article\xa0430cFeasibility report on the integrated reporting system1.EBA'
 'EBA, together with ESMA' 'EBA, together with ESMA,' 'EIOPA'
 'Each function' 'Entities'
 'Entities that are referred to in paragraph 1, including entities that are part of groups'
 'I' 'Institutions'
 'Institutions that are subject to Chapter\xa03 of Title II of Part Three'
 'Institutions that have received the permission to use the alternative internal model approach'
 'Institutions whose financial year commences after 02013R0575-20180101_date219: but'
 'Institutions whose financial year commences after 02013R0575-20190426_date227: but'
 'Institutions whose financial year commences after 02013R0575-20191225_date269: but'
 'Insurance and reinsurance undertakings'
 'Investment firms which execute transactions in financial instruments'
 'It'
 'Large undertakings, and small and medium-sized undertakings, except micro undertakings, which are public-interest entities as defined in point (a) of point (1) of Article\xa02'
 'Manufacturers' 'Member State' 'Member States'
 'PART SEVEN AREPORTING REQUIREMENTSArticle\xa0430Reporting on prudential requirements and financial information1.Institutions'
 'Parent undertakings' 'Settlement internalisers'
 'Small and medium-sized undertakings, small and non-complex institutions and captive insurance and reinsurance undertakings that rely on the derogation referred to in the first subparagraph'
 'Special purpose vehicles' 'The Agency'
 'The Chair and the independent members of the CCP Supervisory Committee'
 'The Chairperson' 'The Commission' 'The Court of Auditors' 'The EBA'
 'The ECB' 'The Executive Director' 'The Member States'
 'The Member\xa0States' 'The animal welfare officer'
 'The auditor of the feeder UCITS' 'The competent authorities'
 'The competent authority or the designated authority'
 'The credit risk control unit' 'The director' 'The fishing vessel'
 'The holder of an authorisation for a plant protection product'
 'The holders of a key function' 'The institution' 'The institutions'
 'The insurance or reinsurance undertaking' 'The investigator'
 'The management body of each entity that is party to an agreement'
 'The manager of an MMF' 'The national competent authorities'
 'The operator of a trading venue' 'The persons performing a function'
 'The special purpose vehicle' 'The sponsor'
 'The sponsor of a clinical trial performed in at least one Member State'
 'The statutory auditor or audit firm' 'They' 'Undertakings' 'a CCP'
 'a CCP shall report the following information to those of its clearing members which are institutions and to their competent authorities:(a)the hypothetical capital (KCCP);\n(b)the sum of pre-funded contributions (DFCM);\n(c)the amount of its pre-funded financial resources that it is required to use — by law or due to a contractual agreement with its clearing members — to cover its losses following the default of one or more of its clearing members before using the default fund contributions of the remaining clearing members (DFCCP);\n(d)the total number of its clearing members (N);\n(e)the concentration factor (β), as set out in Article 50d'
 'by the following:' 'competent authorities' 'financial institutions'
 'institutions'
 'institutions that do not meet the conditions set out in Article\xa094(1) nor the conditions set out in Article\xa0325a(1)'
 'it' 'large institutions'
 'paragraph\xa06 is replaced by the following:6.Institutions'
 'the Commission' 'the account servicing payment service provider'
 'the competent authority'
 'the following paragraphs are added:3.By way of derogation from paragraph 1, the requirements set out in points (l) and (m)'
 'the institution' 'the investigator' 'the issuer' 'the manager of an MMF'
 'the manager of the MMF' 'the manufacturer'
 'the officials representing the competent authority'
 'the respective member of the Management Board in charge of the coordination group'
 'the sponsor' 'the trading venue' 'the undertaking concerned' 'they'
 'undertakings']